</head>
<body align="center">
  	<div class="container d-flex">
	  	<div class="d-flex flex-row m-auto" align="center">
  			<div class="d-flex flex-column">
				<%= render 'form', message: @message %>
			</div>
		</div>
	</div>
