<p id="notice"><%= notice %></p>

<p>
  <strong>Thank you for your message.</strong>
  <p>An email has been sent and I'll try to get in touch with you soon.

  Thanks You,

  Damon 
</p>

<%= link_to "Home", "/" %>
